/* Coolors Exported Palette - https://coolors.co/e6c229-f17105-d11149-6610f2-1a8fe3 */

/* CSS HEX */
--saffron: #e6c229ff;
--pumpkin-spice: #f17105ff;
--intense-cherry: #d11149ff;
--electric-indigo: #6610f2ff;
--bright-ocean: #1a8fe3ff;

/* CSS HSL */
--saffron: hsla(49, 79%, 53%, 1);
--pumpkin-spice: hsla(27, 96%, 48%, 1);
--intense-cherry: hsla(343, 85%, 44%, 1);
--electric-indigo: hsla(263, 90%, 51%, 1);
--bright-ocean: hsla(205, 79%, 50%, 1);

/* SCSS HEX */
$saffron: #e6c229ff;
$pumpkin-spice: #f17105ff;
$intense-cherry: #d11149ff;
$electric-indigo: #6610f2ff;
$bright-ocean: #1a8fe3ff;

/* SCSS HSL */
$saffron: hsla(49, 79%, 53%, 1);
$pumpkin-spice: hsla(27, 96%, 48%, 1);
$intense-cherry: hsla(343, 85%, 44%, 1);
$electric-indigo: hsla(263, 90%, 51%, 1);
$bright-ocean: hsla(205, 79%, 50%, 1);

/* SCSS RGB */
$saffron: rgba(230, 194, 41, 1);
$pumpkin-spice: rgba(241, 113, 5, 1);
$intense-cherry: rgba(209, 17, 73, 1);
$electric-indigo: rgba(102, 16, 242, 1);
$bright-ocean: rgba(26, 143, 227, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e6c229ff, #f17105ff, #d11149ff, #6610f2ff, #1a8fe3ff);
$gradient-right: linear-gradient(90deg, #e6c229ff, #f17105ff, #d11149ff, #6610f2ff, #1a8fe3ff);
$gradient-bottom: linear-gradient(180deg, #e6c229ff, #f17105ff, #d11149ff, #6610f2ff, #1a8fe3ff);
$gradient-left: linear-gradient(270deg, #e6c229ff, #f17105ff, #d11149ff, #6610f2ff, #1a8fe3ff);
$gradient-top-right: linear-gradient(45deg, #e6c229ff, #f17105ff, #d11149ff, #6610f2ff, #1a8fe3ff);
$gradient-bottom-right: linear-gradient(135deg, #e6c229ff, #f17105ff, #d11149ff, #6610f2ff, #1a8fe3ff);
$gradient-top-left: linear-gradient(225deg, #e6c229ff, #f17105ff, #d11149ff, #6610f2ff, #1a8fe3ff);
$gradient-bottom-left: linear-gradient(315deg, #e6c229ff, #f17105ff, #d11149ff, #6610f2ff, #1a8fe3ff);
$gradient-radial: radial-gradient(#e6c229ff, #f17105ff, #d11149ff, #6610f2ff, #1a8fe3ff);